:root {
    --defaualt-font: 'Roboto', 'Cherry Swash', 'serif', sans-serif;
    --secondary-font: 'serif';


    --text-color: rgb(255, 255, 255);
    --primary-color: rgb(255, 255, 255);
    --accent1-color: rgb(1, 1, 5);


    --background-color: #023351;
    /* --link-color: rgb(0, 0, 0); */
    --link-color: white;
    --border-line: white;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--defaualt-font);
    padding: 20px;
    color: var(--text-color);
    background: var(--background-color);
    font: 100;
    position: relative;
    padding-bottom: 6rem;
    box-sizing: inherit;
    min-width: 235px;
}

header {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);

}

header img {
    width: 100px;
    height: auto;
    margin: 2px;
}

header span {
    font-size: 1.5rem;
    padding: 1rem;
    font: 400;
}

/* light and dark mode*/
#mode {
    position: absolute;
    top: 2rem;
    right: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 2px;
}

nav {
    background-color: rgba(0, 0, 0, .2);
    color: var(--text-color);
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
}


nav a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    color: var(--text-color);
    /* color: var(--text-color); */

}

nav a:hover {
    /* border: 1px solid white; */
    background-color: rgba(255, 255, 255, .1);

}

.active {
    border-bottom: 2px solid yellow;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 2px;

}


h1 {
    grid-column: 1/3;
    font-family: var(--secondary-font);
    margin: 1rem 0;
    font: 100;
    font-size: medium;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: var(--secondary-font);
}

main {

    margin: 0;
    max-width: 100rem;
    margin: 1rem 2vw;
    color: var(--text-color);
    padding: 1rem;
}

.main-dark {
    background-color: #010C14;
    color: var(--accent1-color);
}

.herolabel span {
    position: absolute;
    margin: 0;
    padding: .25rem;
    font-weight: bolder;
    top: 10%;
    width: 30%;
    left: 1%;
    text-align: center;
    background: rgba(255, 255, 255, .5);
    opacity: 0.90;
    border-top: 0.2rem solid var(--header-bgd-color);
}

section {
    border-radius: 5px;
    margin: 0.5rem 0;
    overflow: hidden;
    border: 1px solid var(--border-line);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 0.8rem;
}

section h2 {
    font-weight: bold;
    font-size: 1rem;
}

section a {
    color: var(--link-color);
    cursor: pointer;
}

.main-dark section {
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.1);
    /* color: white; */
}

.card h2 {
    /* background-color: #889096; */
    background-color: rgba(0, 0, 0, .2);
    text-align: center;
    padding: 0.25rem;
}


.main-dark h2 {
    background-color: rgba(0, 0, 0, 0.9);
}

.main-dark a {
    color: white;
}

/* CSS FOR DISCOVER.HTML */



.grid {
    display: grid;
    grid-template-columns: 1fr;
}

.discover-hero {
    position: relative;
    margin-bottom: 1rem;
}

.discover-hero h1 {
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    background-color: rgba(0, 0, 0, .4);
    padding: 0.5rem;
    text-align: center;
}

.discover-hero h2 {
    position: absolute;
    top: 15%;
    left: 10%;
    right: 10%;
    background-color: rgba(0, 0, 0, .4);
    padding: 1rem;
    text-align: center;
}

.discover-hero img {
    display: block;
    width: 100%;
    height: auto;
}


select {
    padding: 0.5rem;
    width: 100%;
    border: 1px solid rgb(218, 218, 227);
}

.card {
    margin: 0.5rem;
    font-size: 0.9rem;
}

.card p {
    align-items: center;
    margin: 0 auto;
    padding: 0.5rem;
    text-align: justify;

}

.card ul {
    list-style-type: none;
    padding: 1rem;
}



/* WEATHER CARD */
#imgWeather {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
}

#weather-disc {
    display: block;
    text-transform: capitalize;
    font-size: 0.8rem;
    margin: 0.5rem auto;
}

#card2 {
    text-align: center;
}

#card2 img {
    display: block;
    margin: 0 auto;
}

/* 
.forecast {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.forecast:last-child {
    border-bottom: none;
}

.time {
    font-weight: bold;
}

.temperature {
    color: #ff5722;
}

.description {
    color: #666;
    text-transform: capitalize;
} */


/* start testing */


.cardContainer {
    white-space: nowrap;
    display: flex;
    padding: 0;
    margin: 0;
    transition: 1s;
}

.cardContainer li {
    display: inline-block;
    margin-right: 8px;
}

.setSpan {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 2rem;
    padding-top: 12px;
    padding-bottom: 18px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
}


.mainFocust {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.headerFocust {
    text-transform: capitalize;
    font-size: 0.9rem;
    line-height: 20px;
    margin: 0 0 4px 0;
}

.iconTempPart {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding-left: 6px;
}

.iconTemp {
    height: 40px;
    width: 40px;
    margin: 0 auto !important;
}

.iconTempImg {
    height: 500%;
    width: 500%;
    vertical-align: middle;
    transform: scale(0.25);
    transform-origin: top left;
}

.temp {
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    text-align: center;
    margin-left: 1rem;
    width: 0;
    flex: 1 1 auto;
}

.infoPart {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.topInfo {
    margin: 0 0 6px 0;
}

.temper {
    font-weight: 400;
    padding-left: 0.2rem;
}

.discWeather {
    text-align: center;
    font-size: 0.8rem;
    /* line-height: 20px; */
    /* position: relative; */
    /* top: 1px; */
    /* opacity: 0.8; */
    /* margin-left: 18px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
    text-transform: capitalize;
}

.weather ul {
    list-style-type: disc;
}


/* ADVERTISEMENT */

.advertisements {
    /* max-width: 800px; */
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.advertContainer {
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 4px;
    margin-top: 0.5rem;
    font-size: 0.8rem;
}


.advertisement {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.advertisement:last-child {
    border-bottom: none;
}


/* BURNNER */
#banner {
    display: none;
    background-color: rgba(0, 0, 0, .7);
    text-align: center;
    padding: 1rem;
    position: absolute;
    top: 30%;
    left: 10%;
    margin: 0 auto;
    width: 80%;
    z-index: 1000;
    opacity: 0.9;
    font-size: 0.8rem;
}


#closeButton {
    cursor: pointer;
    font-weight: bold;
    float: right;
}

/* FOOTER */

hr {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    overflow: visible;
    text-align: center;
}

/* START Discover.html Page css*/


.adventure {
    display: grid;
    background-color: rgba(0, 0, 0, 0.2);
    margin: auto;
}

.adventure h2 {
    justify-self: center;
    align-self: center;
}

.adventure img {
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
    grid-row: 2 / 3;
    cursor: pointer;
}

.adventure figcaption {
    padding: 3px;
    margin: 2px auto;
    text-align: center;
}

.purpose-container {
    margin-top: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
}

.purpose {
    display: block;
}

.purpose h3 {
    align-self: center;
    justify-self: left;
    padding-left: 1rem;
    margin: 0.5rem auto;
    text-align: center;
}

.purpose p {
    align-items: center;
    margin: auto;
    padding: 0.5rem;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: justify;
}

.purpose img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0.25rem auto;
}


.paragraph-link {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    text-decoration: none;
    color: #0047ab;
    background-color: #f4f4f4;
    border: 2px solid #0047ab;
    border-radius: 4px;
    font-weight: 400;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.paragraph-link:hover {
    background-color: #0047ab;
    color: #fff;
}


/* End Discover.html Page css*/

/* small view navigation with humburgar menu*/
#menu {
    font-size: 1rem;
    padding: 3px 7px 6px;
    position: absolute;
    /* Set the distance from the top */
    top: 6rem;
    /* Set the distance from the right */
    right: 2rem;
    cursor: pointer;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "x";
}


.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.navigation li {
    display: none;
}

.navigation li a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}

iframe {
    display: grid;
    width: 100%;
    padding: 20px;
    background-color: var(--background-color);
    color: var(--primary-color);
}

/* FOOTER */
footer {
    padding: 20px;
    text-align: center;
    width: 100%;
    background-color: rgba(0, 0, 0, .1);
}

footer a {
    color: var(--link-color);
    cursor: pointer;
}

footer img {
    width: 20px;
    justify-self: center;
    align-self: center;
    cursor: pointer;
}

/* FOOTER MODIFIED*/

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 100%;
}

.footer-col h4 {
    position: relative;
    margin-bottom: 0.5rem;
}

.footer-col h4::before {
    content: "";
    position: absolute;
    bottom: -0.25rem;
    box-sizing: border-box;
    width: 50px;
    background-color: red;
    height: 2px;
}

.footer-col p {
    display: block;
    width: 100%;
}

.footer-col ul {
    list-style-type: none;
    padding: 1rem;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 0.25rem;
}

.footer-col ul li a {
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    font-size: 1.2rem;
    padding-left: 10px;
}

.footer-col .social-link a {
    display: inline-block;
    height: 40px;
    width: 40px;
    transition: all 0.3s ease;
}

.footer-copymodified {
    display: block;
    width: 100%;
    text-align: center;
}




.hover:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, .8);
}


/* css for JOIN PAGE  */

/*----------- FORM --------------*/
.form-container {
    margin: 0 auto;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid;
    border-radius: 10px;
    padding: 0.5rem 2%;
}

form legend {
    color: var(--text-color);
    margin: 0 1rem;
    padding: 0.5rem 2%;
    text-align: center;
}

form label.top,
form div {
    display: block;
    padding-top: 1rem;
    color: var(--text-color);
    font-size: 0.8rem;
}

form label.top input,
form label.top select,
form label.top textarea {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    padding: 0.75rem;
    /*-this allows the at least 44px to the touch*/
    color: var(--text-color);
    width: 100%;
    /* full width on small screens*/
    max-width: 20rem;
    /* for large screens*/
    background-color: rgba(0, 0, 0, 0.1)
}


form label.sbs {
    display: block;
    padding: 0.75rem 0;
    color: var(--text-color);
}

form input.submitBtn {
    border: none;
    background-color: rgba(0, 0, 0, .5);
    color: var(--text-color);
    border-radius: 1rem;
    padding: 0.75rem 1.5rem;
    margin: 0 5rem 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

/* start thank you modification*/
.thankyou {
    grid-column: 1/3;
    width: 100%;
    text-align: center;
}

/* end thank you modification*/
/* Styling for FORM subscription class */


/*DIRECTORY PAGE GRID VIEW*/

.directMenu {
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: inherit;
    text-align: center;
}

.directMenu button {
    padding: 1rem;
    font-weight: 700;
}


.directGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0.5rem;
    align-items: center;
}

.directGrid section {
    text-align: center;
    max-width: 300px;
}

.directGrid section>* {
    margin: 0.1rem;
}

.directGrid img {
    width: 100%;
}

.directGrid p {
    /* text-align: center; */
    font-size: 0.8rem;
    padding: 0.2rem 0 0 0.5rem;
    text-transform: capitalize;
}

.directGrid a {
    font-size: 0.85rem;
    color: var(--link-color);
    text-transform: lowercase;
}


/*DIRECTORY PAGE LIST VIEW (LV) MOBILE*/

.list {
    display: grid;
    grid-template-columns: 1fr;
}


.list section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 0.25rem;
    padding: 0.5rem;
}

.list section>* {
    margin: 0 1rem;
}

.list section img {
    display: none;
    /* smaller viewports only */
}


.list p {
    font-size: 0.8rem;
    text-transform: capitalize;
}


.list a {
    font-size: 0.85rem;
    color: navy;
    text-transform: lowercase;
}

.list section:nth-child(even) {
    background-color: rgba(255, 255, 255, .4);
}

.footer-h {
    font-size: 1rem;
    font-weight: bold;
}

@media (max-width: 650px) {
    .subscription {
        display: none;
    }
}