@media (min-width: 640px) {
    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 0.5rem;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    hr {
        grid-column: 1/4;
    }

}